.courses-container {
  width: 100%;
  /* min-height: 60vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #fff;
}
.courses {
  width: 80%;
  display: flex;
  margin-top:40px ;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dee2e6;
}
