.course-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 10px;
  background-color: #dbfafa;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  color: black;
  justify-content: space-evenly;
}

.course-credit {
  display: flex;
  justify-content: space-evenly;
}
