.uni-container {
  width: 100%;
  height: 50vh;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#unImg {
  width: 600px;
  height: 400px;
}

.uni-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 24px;
  width: 40%;
  height: 40%;
  border-radius: 20px;

  background: linear-gradient(
    90deg,
    rgba(88, 170, 252, 1) 0%,
    rgba(175, 133, 249, 1) 100%
  );
  -webkit-box-shadow: -3px 6px 21px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 6px 21px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 6px 21px -3px rgba(0, 0, 0, 0.75);
}
